*{
    box-sizing: border-box;
    transition-duration: 0.3s;
 }
 
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
    padding-bottom: 150px;  
    
}



h1{
    color:#18bef0;
    font-size: 60px;
}
.title{
    border: 1px solid green;
    text-align: center;
    padding-top: 150px;
    padding: 150px;
}

section{
    border: 1px solid red;
    display: flex; /*probleme*/
}

.grandP{
    border:1px solid blue;
    width:75%;
    

}
.grandP p{
    padding: 10%;
    padding-top: 35px;;
    
}

.grandP h3{
    padding: 10%;
    padding-bottom: 0;
}



.petitCarreePhoto{
    display: flex; 
}

aside{
    display: flex;
    border:1px solid pink;
    width:325px;
    height: 325px;
}
.sectionMilieu div h3{
    margin: 100px;
    text-align: center;
  
    padding: 150px;
}

footer {
    margin: 50px 0 50px 20px;
   
}
